*{
    padding: 0; 
    margin: 0; 
    font-family: 'Nanum Gothic', sans-serif;
}

/* Main Page Header */
ul{list-style-type: none;}
a{text-decoration: none;}

/* ========================================================================================== */

/* 전체 몸체 영역 */
.content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 640px;
    background-color: white;
}

.content_radio_back_img{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

/* 라디오 사연쓰기 이미지 */
.content_top_image #content_radio_img{
    position: fixed;
    background-image: url('../image/img_djbox_page/img_radio_page01_mic.jpg');
    width: 100%;
    height: 640px;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bold;
}

/* 라디오 사연쓰기 있는 란의 이미지 안의 h1요소 */
.content_top_image #content_radio_img h1{
    font-size: 64px;
    margin: 0.5em 0em;
}

/* 라디오 사연쓰기 있는 란의 이미지 안의 p요소, 버튼요소 */
.content_top_image #content_radio_img p, .content_top_image #content_radio_img .button_history{
    font-size: 15px;
    font-weight: bold;
    margin: 2em 0em;
}

/* 라디오 사연쓰기 있는 란의 이미지 안의 버튼요소 안의 a항목 */
.content_top_image #content_radio_img .button_history a{
    background-color: #FF6868;
    border-radius: 3px;
    padding: 1em 1.2em;
    margin: 30px 0px 10px;
    color: white;
}

.content_top_image #content_radio_img .button_history a:hover{
    background-color: #FF686899;
    color: #FFFFFF99;
}

.board_border_app{
    display: none;
}

.board_border{
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
}
table{
    border-collapse: collapse;
}
caption{
    display: none;
}
.board_list_wrap{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: #999;
    padding: 0 30px;
}
/* 중간에있는 회색선 */
.board_list tr{
    border-bottom: 1px solid #999;
}
.board_list tr a{  
    color: #999;
}
    
.board_list{
    width: 100%;      
}
.board_list th,td{
    padding: 23px;
    color: #999;     
}
.board_list tr td:nth-child(2){
    text-align: left;
}

.content_bottom_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.content_bottom_wrap .content_bottom{
    width: 879px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_bottom_wrap .content_bottom #form_search{
    padding: 10px; 
    display: inline-block;
}

.content_bottom_wrap .content_bottom #form_search #search{
    padding: 10px 15px; 
    width: 220px; 
    border: 1px solid #a9a9a9; 
    margin-bottom: 0.5em; 
    border-radius: 5px;
}

.content_bottom_wrap .content_bottom #form_search #search_button{
    padding: 9px 20px 10px 20px; 
    margin-bottom: 0.5em; 
    border: 1px solid transparent; 
    border-radius: 5px;
    background-color:#FF6868 ; 
    color: white; 
    font-weight: bold;
    cursor: pointer;
}

.content_bottom_wrap .content_bottom #form_search #search_button:hover{
    background-color:#FF6868CC; 
    color: #FFFFFFCC; 
}

.content_bottom_wrap .content_bottom #write_text{
    padding: 10px 20px 10px 20px; 
    margin-bottom: 0.5em; 
    border: 1px solid transparent; 
    border-radius: 5px;
    background-color:#FF6868 ; 
    color: white; 
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
}

.content_bottom_wrap .content_bottom #write_text:hover{
    background-color:#FF6868CC ; 
    color: #FFFFFFCC; 
}

.paging{
                  
    padding:20px;
    text-align: center;
    letter-spacing: 2px;
}

.paging a{
    color: gray;
}

.paging a.numon{
    align-items: center;
    color: tomato;
}

/* 반응형 웹 (RWD) */
/* 미디어 쿼리 (해상도에 반응하기) */
/* 화면 너비가 700보다 작을때 중괄호 안의 스타일 적용 */
@media screen and (max-width:640px) {
    #flex_start_back_wrap .flex_inner_wrap, .flex_back_wrap .flex_inner_wrap{
        flex-direction: column;
        align-items: center;
    }

    .board_border{
        display: none;
    }

    .board_border_app{
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    }

    .board_list_wrap_app{
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: #999;
    padding: 0 30px;
    }
    
    #board_list_app_top01{
        border-top: 1px solid #999;
        margin-top: 8px;
    }

    .board_list_app{
        border-bottom: 1px solid #999;
    }
    .board_lis_appt a{  
        color: #999;
    }
    
    .board_list_app{
        width: 100%;      
    }
    .board_list_app p{
        padding: 10px;
        color: #999;     
    }

    .content_bottom_wrap .content_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    }

}

@media screen and (max-width:320px){
}