header{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    display: -ms-flexbox;
    height: 70px;
}

header #logo{
    max-width: 120px;
    min-width: 80px;
}

header #logo img{
    width: 100%;
}

header #menu #main{
    display: flex;
    display: -ms-flexbox;
}

#main{
    text-align: center;
}

#main #hide{
    height: 80px;
}

#main .body_item{
    width: 150px;
}

#main .body_item img{
    width: 100%;
}

.bottom_menu{
    display: flex;
    display: -ms-flexbox;
}

.bottom_menu li{
    margin-left: 2em;
}

footer{
    text-align: center;
}