

#main #text{
    text-align: center;
    font-size: 15px;
    color: #BF1A1A;
    font-weight: bold;
}

#main .hide_line{
    height: 2em;
}

#main #body{
    display: flex;
}

#main #body .item{
    text-align: center;
}

#main #body .item .item_img{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#main #body .item img{
    width: 100%;
}