header{
    position: fixed;
    z-index: 10;
    display: flex;
    display: -ms-flexbox;
}

header #logo img{
    max-width: 120px;
    min-width: 80px;
}

header #menu{
    list-style-type: none;
    display: flex;
    display: -ms-flexbox;
}

header #menu li{
    float: right;
}

header #menu a:hover{
    
}

header #menu .hide{
    display: none;
}

header #menu ul{
    list-style-type: none;
}